<%= turbo_frame_tag "success-message" do %>
  <% if short_url.present? && error_message.nil? %>
    <div id="success-message" class="mt-4 p-4 bg-green-100 border border-green-400 text-green-700 rounded">
      Short URL created successfully! <br> 
      Your Short URL: 
      <a href="<%= short_url %>" target="_blank" class="text-blue-600 hover:underline"><%= short_url %></a> 
      <button onclick="copyToClipboard('<%= short_url %>')" class="ml-4 px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600">Copy</button>
      <br>
      Original URL: <%= url.target_url %> <br>
      Title: <%= url.title %>
    </div>
  <% end %>
<% end %>

<script>
  function copyToClipboard(text) {
    const protocol = window.location.protocol; // e.g., 'http:' or 'https:'
    const host = window.location.host; // e.g., 'example.com'
    const textToCopy = `${protocol}//${host}/${text}`;

    if (navigator.clipboard) {
      navigator.clipboard.writeText(textToCopy).then(function() {
        alert('Copied to clipboard!');
      }).catch(function(err) {
        console.error('Could not copy text: ', err);
      });
    } else {
      // Fallback for older browsers or non-supported environments
      var textArea = document.createElement('textarea');
      textArea.value = textToCopy;
      document.body.appendChild(textArea);
      textArea.select();
      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'Copied to clipboard!' : 'Failed to copy text.';
        alert(msg);
      } catch (err) {
        console.error('Could not copy text: ', err);
      }
      document.body.removeChild(textArea);
    }
  }
</script>

