<tr id="url_<%= url.id %>" class="border-b">
  <td class="px-6 py-4 text-sm font-medium text-gray-900"><%= url.title %></td>
  <td class="px-6 py-4 text-sm text-gray-500"><%= url.target_url %></td>
  <td class="px-6 py-4 text-sm text-gray-500">
    <ul class="space-y-2">
      <% url.short_urls.each do |short_url| %>
        <li class="flex flex-col md:flex-row justify-between items-center py-2">
          <div class="flex items-center space-x-2 w-full">
            <a href="<%= short_url_path(short_url.short_url) %>" class="text-blue-500 hover:underline md:w-[75%]" target="_blank"><%= short_url.short_url %></a>
            <button
              class="text-gray-600 hover:text-gray-900"
              onclick="copyToClipboard('<%= short_url.short_url %>')"
              title="Copy to Clipboard">
              Copy
            </button>
            <a href="/usage_report?short_url_id=<%= short_url.id %>&commit=View+Report" 
              data-turbo="false"
              class="text-blue-500 hover:underline"
              title="View Usage Report">
              Usage
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </td>
  <td class="px-6 py-4 text-sm text-gray-500">
    <%= link_to "Delete", url_path(url), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: "px-4 py-2 bg-red-500 text-white text-xs font-semibold rounded hover:bg-red-600" %>
  </td>
</tr>

<script>
  function copyToClipboard(text) {
    const url = window.location.host;
    const textToCopy = `${url}/${text}`;
    
    if (navigator.clipboard) {
      navigator.clipboard.writeText(textToCopy).then(function() {
        alert('Copied to clipboard!');
      }).catch(function(err) {
        console.error('Could not copy text: ', err);
      });
    } else {
      // Fallback for older browsers or non-supported environments
      var textArea = document.createElement('textarea');
      textArea.value = textToCopy;
      document.body.appendChild(textArea);
      textArea.select();
      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'Copied to clipboard!' : 'Failed to copy text.';
        alert(msg);
      } catch (err) {
        console.error('Could not copy text: ', err);
      }
      document.body.removeChild(textArea);
    }
  }
</script>
